*{
    margin: 0;
    padding: 0;
}


/*Mobile*/
@media screen and (max-device-width: 480px) {

    .flex-screen1-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 25px;
    }

    .screen1-img img{
        width: 250px;
        margin-left: -100px;
        margin-top: 25px;
    }

    .screen1-title {
        font-size: 53px;
    }

    .screen1-text {
        font-size: 24px;
        font-weight: 700;
    }

    .screen1-button {
        background-color: #3EB25E;
        border-radius: 35px;
        padding: 5px 50px;
        border: none;
        cursor: pointer;
        color: white;
    }

    .button-text {
        font-size: 22px;
    }
}