
/*Mobile*/
@media screen and (max-device-width: 480px) {

    .flex-screen1-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .screen1-img {
        margin-top: 56px;
        margin-right: 150px;
        margin-left: 59px;

    }

    .screen1-title {
        max-width: 264px;
        max-height: 57px;
        flex-shrink: 0;
        color: #000;
        font-family: Roboto, serif;
        font-size: 5rem;
        font-weight: normal;
        line-height: normal;

    }
    .screen1-text {
        margin-left: 49px;
        margin-right:49px;
        margin-bottom: 26px;
        width: 382px;
        height: 47px;
        flex-shrink: 0;
        color: #000;
        text-align: center;
        font-family: Roboto, serif;
        font-size: 3rem;
        font-weight: normal;
        line-height: normal;

    }

    .screen1-button {
        width: 199px;
        height: 36px;
        margin-bottom: 76px;
        margin-top: 200px;
        flex-shrink: 0;
        border-radius: 35px;
        background: #3EB25E;
        border: 0;

    }
    .button-text {
        width: 172px;
        height: 20px;
        flex-shrink: 0;
        color: #FFF;
        text-align: center;
        font-family: Roboto, serif;
        font-size: 22px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;

    }
}